<?xml version="1.0" ?>
<robot name="colmena2" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <material name="black">
    <color rgba="0.200 0.200 0.200 1.000"/> <!-- Negro -->
  </material>

  <material name="white">
    <color rgba="1.000 1.000 1.000 1.000"/> <!-- Blanco -->
  </material>

</robot>